<a href="https://colab.research.google.com/github/rpvv/11th/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuples are Read-Only(List).
# We cannot change the elements of the tuple like-insert,delete and updation

In [ ]:
tup1=(0,1,2,3)
print (tup1)
print (type(tup1))

(0, 1, 2, 3)
<class 'tuple'>

Blank Tuple

In [ ]:
tup1=()
tup2=tuple()
print (tup1)
print(tup2)

()
()

Creating Blank LIST

In [ ]:
li1=[]
li2=list()
#li2=list[] it will give error because list is function used here it should be closed within the roundal brackets not square brackets
print (li1)
print(li2)

[]
[]

In [ ]:
tup1=1,2,3
print(tup1)
print(type(tup1))

(1, 2, 3)
<class 'tuple'>

Nested Tuple

In [ ]:
tup1=((1,2,3),(4,5,6))
print(tup1)

((1, 2, 3), (4, 5, 6))

Lists within tuple

In [ ]:
List1=[1,2,3]
List2=[4,5,6]
print(List1,List2,sep="#")
tup1=(List1,List2)
print(tup1)

[1, 2, 3]#[4, 5, 6]
([1, 2, 3], [4, 5, 6])

Tuple having list and strings

In [ ]:
tup1=(List1,"abc","cbse")
print(tup1)

([1, 2, 3], 'abc', 'cbse')

Tuples are Immutable means the objects cannot be changed

In [ ]:
tup1=(1,2,3,4,5,6)
print(tup1)
tup1[2]=10

(1, 2, 3, 4, 5, 6)

TypeError: ignored

In [ ]:
list1=[1,2,3,4,5,6]
print("Before Updation",list1)
list1[2]=10
print("After Updation",list1)

Before Updation [1, 2, 3, 4, 5, 6]
After Updation [1, 2, 10, 4, 5, 6]

Creating Tuple with Single Element--we have to include the final comma after the single value it is mandatory

In [ ]:
t1=("a")
print (t1)
print(type(t1))
t2=("a",)
print(t2)
print(type(t2))

a
<class 'str'>
('a',)
<class 'tuple'>

In [ ]:
l1=[1]
print (l1)
print(type(l1))
l2=[1,]
print(l2)
print(type(l2))

[1]
<class 'list'>
[1]
<class 'list'>

User input for List

```
```

In [ ]:
l=list(input("enter Elements "))
print(l)

enter Elements 123
['1', '2', '3']

In [ ]:
l=[]
n=int(input("Enter the range "))
i=1
while(i<=n):
  a=int(input("Enter the number "))
  l.append(a)
  i=i+1
print(l)

Enter the range 3
Enter the number 1
Enter the number 2
Enter the number 3
[1, 2, 3]

In [ ]:
#l=[]
l=list() 
n=int(input("Enter the range "))
for i in range(n):
  a=int(input("Enter the number "))
  l.append(a)
print(l)

Enter the range 3
Enter the number 1
Enter the number 2
Enter the number 3
[1, 2, 3]

User input Through Tuple

In [ ]:
#t=()
t=tuple()
n=int(input("Enter the range "))
i=1
while(i<=n):
  a=int(input("Enter the number "))
  t=t+(a,)  
  i=i+1
print(t)

Enter the range 3
Enter the number 1
Enter the number 2
Enter the number 3
(1, 2, 3)

In [ ]:
t=(1)
n=int(input("Enter the range "))
for i in range(n):
  a=int(input("Enter the number "))
  t=t+(a,)
print(t)

Enter the range 3
Enter the number 1
Enter the number 2
Enter the number 3
(1, 2, 3)

In [ ]:

t=tuple(input("enter Elements "))
print(t)
for i in t:
  print(i,end=" ")
print(" second for loop")
#index wise printing
for i in range (len(t)):  
  print(t[i],end=" ")

#print("a","b","c",sep="#",end=" ")

enter Elements rpvv
('r', 'p', 'v', 'v')
r p v v  second for loop
r p v v

In [ ]:
t=eval(input("enter elements "))
print(t)
print(type(t))

enter elements 1,2,345,"r","doe"
(1, 2, 345, 'r', 'doe')
<class 'tuple'>

Assignment to be done

In [ ]:
t=((1,"Mehandi",90),(2,"Anjum",95),(3,"Alhmad",95))
print("Roll no","Name","Marks")
for i in range(0,len(t)):
  print(t[i][0])

Roll no Name Marks
1
2
3

# **SLICING**

In [ ]:
#a=("RPVV","SCHOOL","CLASS","SCIENCE",11,"CBSE","DOE","NEAR","DDA","VIKAS","SADAN")
a=(1,2,3,4,5,6,7,8,9,10,11)
#a=("a","b","c","d","e","f","g","h","i","j","k")
#a="RPVV SCHOOL" 
#a=tuple(a)
# +ve indexing 0 1 2 3 4 5 6 7 8 9 10 
# -ve indexing -11,-10,-9,-8,-7,-6,-5,-4,-3,-2,-1

Print All elements of tuple

In [ ]:
print(a)
print(a[:])
print(a[0:])
print(a[-11:])
print(a[:3]+a[3:])
print(a[:3])#first three element
print(a[3:])#after 4th element to till last
print(a[-11:-1])#last element sadan will not be printed
print(a[-11:0])#blank tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)
(1, 2, 3)
(4, 5, 6, 7, 8, 9, 10, 11)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
()

In [ ]:
print(a[5:8])
print(a[5:-3])

(6, 7, 8)
(6, 7, 8)

In [ ]:
print(a[5:6])
print(a[5])
print(a[5:-5])

(6,)
6
(6,)

In [ ]:
print(a[-1])
print(a[10])
print(a[10:15])

11
11
(11,)

In [ ]:
print(a[1],a[5],a[-1])

2 6 11

In [ ]:
print(a[0:-1])
print(a[0:10])
print(a[:10])
print(a[:-1])

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
print(a[1:11])
print(a[1:])
print(a[-10:])

(2, 3, 4, 5, 6, 7, 8, 9, 10, 11)
(2, 3, 4, 5, 6, 7, 8, 9, 10, 11)
(2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

In [ ]:
print(a[0],a[3],a[6],a[9])
print(a[0:10:3])
print(a[-12:-1:3])

1 4 7 10
(1, 4, 7, 10)
()
(1, 4, 7, 10)

In [ ]:
print(a[-2:-12:-3])
print(a[-2::-3])
#print(a[0:10:-3]) not possible because lower index is positive

(10, 7, 4, 1)
(10, 7, 4, 1)

In [ ]:
print(a[::-1])
print(a[10::-1])
print(a[-1::-1])
print(a[-1:-12:-1])

(11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
(11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
(11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
(11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [ ]:
print(a[:11]+a[::-1])

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

# Accessing a tuple

In [ ]:
a1=("a","b","c")
a2=("d","e","f")
a3=("g","h","i")
a4=("j","k","l")
a5=(a1,a2,a3,a4)
print(a5)

(('a', 'b', 'c'), ('d', 'e', 'f'), ('g', 'h', 'i'), ('j', 'k', 'l'))

Printing the elements

In [ ]:
print(a1[0])
print(a5[0][0])
print(a5[1][1])
print(a2[1])

a
a
e
e

Index out of range error

In [ ]:
print(a1[3])

IndexError: ignored

Membership function -- in , not

In [ ]:
print("b" in a1)
print("m" not in a1)

Converting String into List and tuple using the function

In [ ]:
a="RPVV SCHOOL" 
b=list(a)
print("converted list is",b)
print(type(b))
c=tuple(a)
print("converted tuple is",c)
print(type(c))

In [ ]:
a1=["a","b","c"]
a2=["d","e","f"]
a3=["g","h","i"]
a4=["j","k","l"]
a5=[a1,a2,a3,a4]
print(a5)
print(a1[0])
print(a5[0][0])

Repetition or replicating the tuple

In [ ]:
t1=("hello",)
print(t1*4,sep=" ")

('hello', 'hello', 'hello', 'hello')

Deleting a tuple

In [ ]:
t1=(10,20,30,40)
print(t1)
del(t1)     #complete deletion of tuple  is allowed but not individual elements
print(t1)  #gives error because t1 tuple is deleted in above line

(10, 20, 30, 40)

NameError: ignored

# TUPLE Functions and Methods

In [ ]:
t1=(10,20,30,40,50,60)
#t1=("maths","science","computer")
#t1=(10,20,30,"rpvv","cbse")

Len function is used to return the number of elements in the tuple

In [ ]:
print(len(t1))

6

Max function is used to return maximum value
min function is used to return minimum value
'>' not supported between instances of 'str' and 'int' so tuple should be of same type either of string or of integer but not mixed

In [ ]:
print(max(t1))
print(min(t1))

60
10

Index function it reurn the index value of the given element and if the element not present then ValueError: tuple.index(x): x not in tuple will occur

In [ ]:
print(t1.index(20))
#print(t1.index(5)) value error

1

Count function it will return how many times the given element is in the tuple.

In [ ]:
print(t1.count(50))

1

Tuple function is used to convert the sequence(list,string,dictionary) but it can notbe used with single element

In [ ]:
a="rpvv"  #string
b=[1,2,3]  #list
#c=10   #TypeError: 'int' object is not iterable
d=(10,)
t1=tuple(a)
t2=tuple(b)
#t3=tuple(c)
t4=tuple(d)
print(t1,type(t1))
print(t2,type(t2))
#print(t3,type(t3))
print(t4,type(t4))

('r', 'p', 'v', 'v') <class 'tuple'>
(1, 2, 3) <class 'tuple'>
(10,) <class 'tuple'>

Indirectly modifying tuples using unpcaking LHS should be equal to RHS if not it will give error ValueError: too many values to unpack

In [ ]:
t1=(10,20,30,40)
a,b,c,d=t1
a,b,c,d=10,20,30,40
a=10
b=20
c=30
d=40
print(t1)
print(b)
print(t1[1])

(10, 20, 30, 40)
20
20

In [ ]:
#t1[1]=60  # TypeError: 'tuple' object does not support item assignment
b=60
t1=(a,b,c,d)
print(t1)

(10, 60, 30, 40)

First convert tuple into List (because list are mutable means we can change the elements in list) after that convert the list into tuple using the TUPLE function

In [ ]:
print("before updation of tuple",t1)
li=list(t1)
li[1]=70
print("list printing: " ,li)
t2=tuple(li)
print("tuple printing: ",t2)

before updation of tuple (10, 60, 30, 40)
list printing:  [10, 70, 30, 40]
tuple printing:  (10, 70, 30, 40)

In [ ]:
tuple3 = (10,20,30,[40,50])
print(tuple3[3])
print(tuple3[3][0])

[40, 50]
40